body {
	margin-left:30%;
	margin-right:30%;

}

h1 {
	color: #4A90E2;
	margin-top:100px;
	/* hvordan faa bold og moon?*/
}

#lobbyist > h2 {
	color: #BD10E0;
}
#kvalitet > h2 {
	color: #8B572A;
}

img {
	width:100px;
	position:absolute;
}

#leftP {
	left: 5%;
	top:40px;
}
#leftG {
	left: 15%;
	top:65px;
}
#leftR {
	left: 25%;
	top:42px;
}
#leftY {
	left: 35%;
	top:60px;
}
#rightP {
	right: 5%;
	top:40px;
}
#rightG {
	right: 15%;
	top:65px;
}
#rightR {
	right: 25%;
	top:42px;
}
#rightY {
	right: 35%;
	top:60px;
}

/*mer avstand mellom header og stilinger?