/*
FILNAVN: css/mainStyle.css
FORFATTER:  Silje Riseng og Jarl Victor Bjørgan
NÅR:  November 2016
MÅL:  Generell stil
*/

/*setter en bakgrunnsfarge som ikke er hvit*/
body{
	background-color: #FFF8F2;
	margin: 0;
}

/* de fleste av sidene våre skal være midtstilt, altså ikke ha tekst helt ut i kantene */
.wrap{
	width:40%;
	margin: 0 auto;
	max-width:700px;
}

/*standard for header*/
.header {
	color: #D0021B;
	font-family: "Lucida Sans Unicode";
	font-size: 30px;
	text-align: center;
	font-weight:bold;
	margin-top: 50px;
}

/*standard for underoverskrifter*/
.subheadings {
	text-align: center;
	font-family: "Lucida Sans Unicode";
	font-weight: lighter;
	font-size: 25px;
	color: #000000;
}

/*standard for tekst*/
.text {
	text-align: justify;
	font-family: Arial;
	font-size:17px;
}

/* Standard farge på lenker skal være svart */
a {
	color: black;
}

/*the following CSS is for the navbar.*/
.main-nav img {
  height: 70px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  20px 90px;
  background-color: #5C3818;
}

.main-nav a {
    float: right;
    font-family:"Lucida Sans Unicode";
    font-size:13px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*style the chocolate square*/
.main-nav .square {
  width: 110px;
  height: 80px;
  background-color: #8B572A;
  border: 10px solid #523419;
  border-top-color: #A06632;
  border-right-color: #794C25;
  border-left-color: #523419;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Change the color on hover */
.main-nav .square:hover {
    background-color: #A06643;
    border: 10px solid #623d1d;
    border-top-color: #b16f35;
    border-right-color: #764a23;
    border-left-color: #623d1d;
}
/*end of style for navbar*/

/* lager en standard stil på inputfelt, sånn at de skal se litt bra ut */
input[type=text], input[type=email], textarea, input[type=file]{
	width:100%;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px;
	font-size: 24px;
}

/*alle knapper skal se ut som sjokolade*/
.smallButton {
	width: 100px;
  height: 40px;
  background-color: #8B572A;
  border: 8px solid #523419;
  border-top-color: #A06632;
  border-right-color: #794C25;
  border-left-color: #523419;
	font-family: Arial;
	font-size:17px;
	color: white;
}

/*når man hovrerer over knappen endrer den farge og blir lysere */
.smallButton:hover {
	background-color: #A06643;
	border: 8px solid #623d1d;
	border-top-color: #b16f35;
	border-right-color: #764a23;
	border-left-color: #623d1d;
}
}
/*End of CSS for the navbar*/
