html, body {
	text-align:center;
	padding-bottom:0;
	margin:0;
}

body {
	position:relative;
}

/*makes sure the text is laying over the chocolate smear*/
.wrapper {
	position: relative;
	top: -100px;
	min-height:90%;
	bottom:0;
}

#aboutHeader {
	color: #8B572A;
	margin-top: 0;
	/* hvordan faa bold og moon?*/
}

#runnyChocolate {
	width: calc(100% + 5px);
	position: relative;
	top: -1px;
}


h1 {
	color: #8B572A;
	font-family:Tahoma;
	font-family:"Lucida Sans Unicode";
	font-size:44px;
	margin-top:0px;
}

section {
	margin-left:30%;
	margin-right:30%;
	min-width:400px;
	/*font-size:20px;
	/*litt mindre font ser bedre ut;*/
	font-size:17px;
}

h3 {
	font-size:25px;
	font-weight:lighter;
}

a {
	color: #000000;
	font-size:25px;
}

#factoryPic {
	width:100%;
}


footer {
	background-color:#EDE5E0;
	font-size:20px;
	width:100%;
	height: 100px;
	/*position:absolute;*/
	position:static;

}

footer > div {
	font-size:2vw;
	font-family:"Lucida Sans Unicode";
	position:absolute;
	top:30px;
}

#footWrapper {
	position:relative;
}

#kontaktinfo{
	position:absolute;
	left:0;
	width:30%;
}

#telefonnummer {
	position:absolute;
	left:30%;
	width:30%;
}

#epost {
	position: absolute;
	width:30%;
	right:30px;
}


/* Skal ha min-margin paa h1? footer alltid neders? mellomrom mellom telefonnummer og epost? hvilken font for moon? Størrelse på font i link og footer?
Blir en liten marg rundt bilde nå. Bruke annen font enn arial i tekst; Lucida grande?
