/*
FILNAVN: css/productsStyle.css
FORFATTER:  Jarl Victor Bjørgan
NÅR:  November 2016 
MÅL:  Stil for siden products.html
*/

#headimg{
	transform: scale(1,1) rotate(90deg) translate(0, 15%);
	position: relative;
	top: -210px;
	margin:auto;
	left: 50%;
}

#topPart{
	height:0;
	display: block;
	width: 50%;
}

#upperProducts{
	margin-top: 150px;
}

.container{
	display: inline-block;
	width: 250px;
	margin: 0 auto;
	padding: 0 20px;
	vertical-align: top;
}

#diabethus > h3{
	color: #4A90E2;
}

#overweith > h3{
	color: #FF4259;
}

#mysteryproduct > h3{
	color: #D0021B;
}

.container > img{
	width:100%;
}

.division{
	width: 0;
	display: table;
	margin: 0 auto;
}
